* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit; /*#46AF8D*/
}

/*Header*/
#header {
    height: 150px;
    border-right: #425962 3px solid;
}

#header, #logo, #nav, #list{
    background-color: #449182;
}

h1,
h2 {
    color: #C7D99D;
    background-color: inherit;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#nav ul {
    height: 100%;
    box-sizing: border-box;
}

#nav li:hover,
#nav .active {
    border-left: #425962 5px solid;
    border-right: #425962 5px solid;
    border-top: #425962 5px solid;
    border-bottom: none;
    background-color: #46AF8D;
}

#logo {
    float: left;
    padding: 20px;
}

#list {
    float: right;
    padding: 20px;
}

#logo,
#list {
    height: 75px;
}

#nav {
    position: absolute;
    top: 75px;
    right: 1px;
    clear: both;
    height: 75px;
    width: 100%;
}

#nav li {
    box-sizing: border-box;
    height: 75px;
    float: left;
    list-style-type: none;
    width: 25%;
    text-align: center;
    border: #425962 3px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav h2 {
    padding-top: 25px;
}

/*Footer*/
.footer-item-container {
    box-sizing: border-box;
    height: 75px;
    width: 50%;
    background-color: #449182;
    border: #425962 3px solid;
}

#contact-support {
    float: left;
    text-align: center;
}

#merchants {
    float: right;
    text-align: center;
}

#merchants li {
    float: left;
    width: 20%;
    list-style-type: none;
    padding-top: 8px;
}

/*General Form Rules*/
#main-body-container {
    background-color: #46AF8D;
    height: max-content;
    border-left: #425962 solid 5px;
    border-right: #425962 solid 5px;
}

#form-img-container {
    border: #425962 solid 3px;
    background-color: #46AF8D;
    width: 100%;
}

.form-img-title{
    width: 33%;
    float: left;
    text-align: center;
}

.form-img{
    /*box-sizing: border-box;
    width: 33%;
    float: left;
    border: #425962 solid 2px;*/
}