/* Colors used:
h1, h2, h3... - #C7D99D
text - #D5C0A1
header/footer background - #449182
main body background - #46AF8D
border - #425962

*/
* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
}

/*Header*/
#header {
    height: 150px;
}

#header,
#logo,
#nav,
#list {
    background-color: #449182;
}

button {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    color: #C7D99D;
    background-color: inherit;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#nav ul {
    height: 100%;
    width: 100%;
}

#nav li:hover,
#nav .active {
    border-left: #425962 5px solid;
    border-right: #425962 5px solid;
    border-top: #425962 5px solid;
    border-bottom: none;
    background-color: #46AF8D;
}

#logo {
    float: left;
    padding: 20px;
}

#list {
    float: right;
    padding: 20px;
    visibility: hidden;
}

#logo,
#list {
    height: 75px;
}

#nav {
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    clear: both;
    height: 75px;
    width: 100%;
}

#nav li {
    box-sizing: border-box;
    height: 75px;
    float: left;
    list-style-type: none;
    width: 33.3333%;
    text-align: center;
    border: #425962 3px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav h2 {
    padding-top: 25px;
}

/*Footer*/
.footer-item-container {
    box-sizing: border-box;
    height: 75px;
    width: 50%;
    background-color: #449182;
    border: #425962 3px solid;
}

#contact-support {
    float: left;
    text-align: center;
}

#merchants {
    float: right;
    text-align: center;
}

#merchants li {
    float: left;
    width: 20%;
    list-style-type: none;
    padding-top: 8px;
    padding-left: 5px;
}

/*General Form Rules*/
#main-body-container {
    background-color: #46AF8D;
    min-height: 800px;
    height: max-content;
    border-left: #425962 solid 5px;
    border-right: #425962 solid 5px;
}

#form-img-container {
    border-top: #425962 solid 3px;
    background-color: #46AF8D;
    width: 100%;
}

.form-img-title {
    width: 33%;
    float: left;
    text-align: center;
}


input,
label,
p {
    box-sizing: border-box;
    text-align: center;
    color: #425962;
    background-color: #7CC7A9;
    border: #425962 3px solid;
    display: inline-block;
    width: 19%;
}

.label-row>* {
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40px;
    padding: 10px;
}

.input-row>* {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 60px;
    margin-top: 5px;
}

.submit-row>*, #submit-row {
    border-radius: 10px;
}

.unstyled {
    border: unset;
    width: 5px;
    border-radius: unset;
    margin-left: 30px;
    text-align: center;
    background-color: unset;
}

fieldset {
    margin-bottom: 20px;
}

@media screen and (max-width: 880px) {
    .row-container {
        display: inline-block;
    }

    .label-row>* {
        width: 50%;
        clear: left;
        float: left;
        margin-top: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 0;

    }
        #input-row>*, .input-row>* {
        width: 50%;
        height: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
    }

    #input-row{
        margin-top: 5px;;
    }

        
        #input-row>*,
        .label-row>*,
    .input-row>*, #submit-row>* {
        height: 50px;
    }

    .submit-row #submit, 
    .submit-row p, #submit-row p
     {
        width: 40%;
        margin: 5px 4.5%;
    }


    #logo {
        text-align: center;
        width: 100%;
    }

    #list {
        width: 100%;
        clear: both;
    }

    .footer-item-container {
        height: max-content;
        width: 100%;
    }

    #merchants li {
        width: 100%;
        float: unset;
        text-align: center;
    }

    #plastering-ceiling{
        padding-bottom:10px;
    }

    .not-visible-on-mobile{
        visibility: hidden;
    }
}