* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #449182;
}

/*Header*/
#header {
    height: 150px;
    border: #425962 3px solid;
}

h1,
h2 {
    color: #C7D99D;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#nav ul{
    height: 100%;
    box-sizing: border-box;
}
#nav li:hover,
.active {
    border: #425962 3px solid;
}

#logo {
    float: left;
    padding: 20px;
}

#list {
    float: right;
    padding: 20px;
}

#logo,
#list {
    height: 75px;
}

#nav {
    position: absolute;
    top: 75px;
    right: 1px;
    clear: both;
    height: 75px;
    width: 100%;
    border: #425962 3px solid;
}

#nav li {
    box-sizing: border-box;
    height: 75px;
    float: left;
    list-style-type: none;
    width: 25%;
    text-align: center;
}

#nav h2{
    padding-top: 25px;
}

/*Main body*/
#main-body-container {
    background-color: #46AF8D;
    width: 100%;
    height: 600px;
}
/*Footer*/
.footer-item-container{
    box-sizing: border-box;
    height: 75px;
    width: 50%;
    background-color: #449182;
    border: #425962 3px solid;
}

#contact-support{
    float: left;
    text-align: center;
}

#merchants{
    float: right;
    text-align: center;
}

#merchants li{
    float: left;
    width: 20%;
    list-style-type: none;
    padding-top: 8px;
}