/* Colors used:
box background: ##7CC7A9
header background: #449182
h1, h2, h3... : #C7D99D
border: #425962


*/
* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
}

/*Header*/
#header {
    height: 150px;
}

#header,
#logo,
#nav,
#list {
    background-color: #8bc2d8;
}

button {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    color: black;
    background-color: inherit;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#nav ul {
    height: 100%;
    width: 100%;
}

#nav li:hover,
#nav .active {
    border-left: #425962 5px solid;
    border-right: #425962 5px solid;
    border-top: #425962 5px solid;
    border-bottom: none;
    background-color: #d3ecf7;
}

#logo {
    float: left;
    padding: 20px;
}

#list {
    float: right;
    padding: 20px;
    visibility: hidden;
}

#logo,
#list {
    height: 75px;
}

#nav {
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    clear: both;
    height: 75px;
    width: 100%;
}

#nav li {
    box-sizing: border-box;
    height: 75px;
    float: left;
    list-style-type: none;
    width: 33.3333%;
    text-align: center;
    border: #425962 3px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#nav h2 {
    padding-top: 25px;
}

/*Footer*/
.footer-item-container {
    box-sizing: border-box;
    height: 75px;
    width: 50%;
    background-color: #8bc2d8;
    border: #425962 3px solid;
}

.footer-item-container a {
    text-decoration: none;
    color: #2C4B56;
}

#contact-support {
    float: left;
    text-align: center;
    color: #2C4B56;
}

#merchants {
    float: right;
    text-align: center;
}

#merchants li {
    float: left;
    width: 19%;
    list-style-type: none;
    padding-top: 8px;
    padding-left: 5px;
}

/*General Form Rules*/
#main-body-container {
    background-color: #d3ecf7;
    min-height: 800px;
    height: max-content;
    border-left: #425962 solid 5px;
    border-right: #425962 solid 5px;
}

#form-img-container {
    box-sizing: border-box;
    border: #425962 solid 5px;
    background-color: #d3ecf7;
    width: 100%;
}

.form-img-title {
    width: 33%;
    float: left;
    text-align: center;
}

.img-container {
    width: 100%;
    height: 230px;
    overflow: auto;
    white-space: nowrap;
}

.box>* {
    box-sizing: border-box;
    text-align: center;
    color: #2C4B56;
    background-color: #b0d7e7;
    border: #425962 3px solid;
    display: inline-block;
    height: 70px;
    margin-top: 5px;
    margin-left: 1px;
    box-sizing: border-box;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
}

.reset {
    width: 90%;
    margin: 5px 5%;
    background-color: #8bc2d8;
    cursor: pointer;
}

p input {
    height: unset;
    padding: unset;
    margin: unset;
}

.L>* {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.R>* {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.S>* {
    border-radius: 15px;
    margin-top: 30px;
    background-color: #8bc2d8;
}

width-2>* {
    width: 29%;
}

.width-3>* {
    width: 32%;
}

.width-4>* {
    width: 24%;
}

.width-5>* {
    width: 19%;
}

.width-7>* {
    width: 13%;
}

.container {
    width: 100%;
}

form {
    clear: both;
}

.unstyled {
    border: unset;
    width: 5px;
    border-radius: unset;
    margin-left: 30px;
    text-align: center;
    background-color: unset;
}

fieldset {
    margin-bottom: 20px;
}

.submit,
.checkbox {
    cursor: pointer;
}

@media screen and (max-width: 880px) {


    .L,
    .R {
        box-sizing: border-box;
        max-width: 47%;
        width:47%;
        display: inline-block;
    }

    .L>* {
        width: 100%;
        margin-top: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 0;
    }

    .R>* {
        float: right;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
    }

    .width-3,
    .width-4,
    .width-5,
    .width-7 {
        width: unset;
    }

    L>*,
    R>* {
        height: 50px;
    }

    .S {
        clear: both;
    }

    .S>* {
        width: 40%;
        margin: 5px 4.5%;
    }

    #logo {
        text-align: center;
        width: 100%;
    }

    #list {
        width: 100%;
        clear: both;
    }

    .footer-item-container {
        height: max-content;
        width: 100%;
    }

    #merchants li {
        width: 100%;
        float: unset;
        text-align: center;
    }

    #plastering-ceiling {
        padding-bottom: 10px;
    }
}